{% comment %}
  Added by Jun
  I design this snippet by mimic variation selector.
  Can't use noscript wrap, otherwise the buttons disappeared.

  Renders a product style options selector. It is based on metafield substyle.

  Accepts:
  - product: {Object} Product liquid object

  Usage:
  {% render 'product-style-selector', product: product %}
{% endcomment %}

{% for sty in product.metafields.custom.substyle.value %}
  <input
    type="radio"
    id="{{ section.id }}-style-{{ forloop.index0 }}"
    name="{{ option.name }}"
    value="{{ sty.sku }}"
    form="{{ product_form_id }}"
  >
  <label for="{{ section.id }}-style-{{ forloop.index0 }}">
    {{ sty.label }}
  </label>
{% endfor %}
