{% comment %}
  Added by Jun
  I design this snippet by mimic variation selector.
  Can't use noscript wrap, otherwise the buttons disappeared.

  Renders a product style options selector. It is based on metafield substyle.

  Accepts:
  - product: {Object} Product liquid object

  Usage:
  {% render 'product-style-selector', product: product, product_form_id: product_form_id %}
{% endcomment %}

<fieldset id="Product-style-fieldset" class="product-form__input">
  <legend class="form__label">Style</legend>
  {% for sty in product.metafields.custom.substyle.value %}
    <input
      type="radio"
      id="style-selector_{{ sty.sku | handleize }}"
      name="style"
      value="{{ sty.sku }}"
      form="{{ product_form_id }}"
      {% if forloop.first %}
        checked
      {% endif %}
    >
    <label for="style-selector_{{ sty.sku | handleize }}">
      {{ sty.label }}
    </label>
  {% endfor %}
</fieldset>
