{% comment %}
  Added by Jun
  I design this snippet by mimic variation selector. I use noscript to wrap the elements. If it effect the js result, come back to delete this wrap.

  Renders a product style options selector. It is based on metafield substyle.

  Accepts:
  - product: {Object} Product liquid object

  Usage:
  {% render 'product-style-selector', product: product %}
{% endcomment %}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="form__label">Style</div>
  <fieldset id="Product-style-fieldset" class="product-form__input">
    {% for sty in product.metafields.custom.substyle.value %}
      <input
        type="radio"
        id="style-selector_{{ sty.sku | handleize }}"
        name="style-selector"
        value="{{ sty.sku }}"
      >
      <label for="{{ sty.sku }}">
        {{ sty.label }}
      </label>
    {% endfor %}
  </fieldset>
</noscript>
