<section>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        <h2>{{ product.title }}</h2>
        <h4>{{ block.settings['section-title'] }}</h4>
      {% when 'description' %}
        <div>{{ product.description }}</div>
      {% when 'product_style_option' %}
        {{ product.metafields.custom.singimg.value.sku }}
        {{ product.metafields.custom.wsstyle }}
        {% for sty in product.metafields.custom.wsstyle %}
          <div>aa</div>
        {% endfor %}
        {% if block.settings.values != blank %}
          {% assign line_item_property_enable = true %}

          {% if block.settings.title != blank %}
            {% assign custom_product_option_title = block.settings.title %}
          {% endif %}

          {% assign custom_product_options = block.settings.values | strip_html | split: ',' %}

          <fieldset id="ProductOption-{{custom_product_option_title | handleize }}" class="product-form__input">
            <legend class="form__label">{{ custom_product_option_title }}</legend>
            {% for option in custom_product_options %}
              <input
                type="radio"
                id="{{ custom_product_option_title | handleize }}-{{ option | strip }}"
                name="{{ custom_product_option_title | handleize }}"
                value="{{ option | strip }}"
                {% if forloop.first %}
                  checked
                {% endif %}
              >
              <label for="{{ custom_product_option_title | handleize }}-{{ option | strip }}">
                {{ option | strip }}
              </label>
            {% endfor %}
          </fieldset>

          <script>
            let radioInputs = document.querySelectorAll('input[type=radio][name="                         {{ custom_product_option_title | handleize }} "]');
            radioInputs.forEach(radio => radio.addEventListener('change', () => document.querySelector('#CustomProductOptionProperty').value = radio.value));
          </script>
        {% endif %}
    {% endcase %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Test Section",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "test section id",
      "default": "TtTTT"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "product_style_option",
      "name": "t:sections.main-product.blocks.product_style_option.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.main-product.blocks.custom_product_option.settings.title.label"
        }, {
          "type": "richtext",
          "id": "values",
          "label": "t:sections.main-product.blocks.custom_product_option.settings.values.label"
        }
      ]
    },
    {
      "name": "t:sections.main-product.blocks.text.name",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "section-title",
          "label": "Set section title"
        }
      ]
    },
    {
      "name": "Description",
      "type": "description"
    }, {
      "name": "img",
      "type": "slide",
      "settings": [
        {
          "type": "text",
          "id": "image",
          "label": "Image label"
        }, {
          "type": "text",
          "id": "section-title",
          "label": "Set section title"
        }
      ]
    }, {
      "name": "image pick",
      "type": "imagepick",
      "settings": [
        {
          "type": "image_picker",
          "id": "imagep",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "test aaa section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
